*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!tsconfig.json
!packages/embeddings-transformers/package.json
!packages/ts/package.json
!packages/ts/tsconfig.json
!packages/ts/tsup.config.ts
!packages/ts/LICENSE
!packages/ts/NOTICE
!packages/ts/src
!packages/ts/scripts
!packages/ts/etc
!packages/ts/examples/http-server/server.ts
packages/ts/src/__tests__
**/.DS_Store
